@using Bloggie.Web.FlashMessages
@{
  FlashMessage? flashMessage = null;
  if (TempData.ContainsKey(FlashMessage.Key) && TempData[FlashMessage.Key] is string message)
  {
    flashMessage = FlashMessage.FromJsonString(message);
  }
}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - Bloggie.Web</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/lib/bootswatch/dist/flatly/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/Bloggie.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-primary"
       data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" asp-area="" asp-page="/Index">Bloggie.Web</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Index" active-when-page>Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" 
               active-when-prefix="/Admin"
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu bg-primary">
              <li><a class="dropdown-item" asp-page="/Admin/Blogs/Add">Add Blog Post</a></li>
              <li><a class="dropdown-item" asp-page="/Admin/Blogs/List">List Blogs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2026 - Bloggie.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
  </div>
</footer>

@* Flash Message *@
@if (flashMessage.HasValue)
{
  
  var bootstrapClass = flashMessage.Value.Level switch
  {
    var v when v == FlashMessageLevel.Success => "text-bg-success",
    var v when v == FlashMessageLevel.Info => "text-bg-info",
    var v when v == FlashMessageLevel.Warning => "text-bg-warning",
    var v when v == FlashMessageLevel.Error  => "text-bg-danger",
    _ => "text-bg-primary"
  };

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="flashToast"
         class="toast @bootstrapClass"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-delay="4000">
      <div class="toast-header">
        <strong class="me-auto">Notify</strong>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
      </div>
      <div class="toast-body">
        @flashMessage.Value.Message
      </div>
    </div>
  </div>

  <script>
        document.addEventListener("DOMContentLoaded", () => {
            const element = document.getElementById("flashToast");
            if (element) {
                const toast = new bootstrap.Toast(element);
                toast.show();
            }
        });
    </script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
